{{ $links := .Site.Params.links }}

<section class="row td-box td-box--4 td-box--gradient td-box--height-auto linkbox">
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<h2>Thông tin liên hệ:</h2>		
<p>Theo dõi chúng tôi để cập nhật những thông tin mới nhất
{{ with index $links "user"}}
{{ template "community-links-list"  . }}
{{ end }}
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<h2>Cách gửi Email </h2>
Đơn vị gửi mail về hotrocntt@vst.gov.vn chủ đề phải đảm bảo cú pháp: <br/><strong>DVC_TEN TINH/SHKB_Trích yếu lỗi.</strong> <br/>Email cần mô tả đầy đủ các thông tin sau: <br/>
  (1) Đơn vị (gồm cả mã/tên DVQHNS) gửi yêu cầu hỗ trợ; <br/>
  (2) Mô tả rõ ràng và cụ thể nội dung đang gặp vướng mắc cần hỗ trợ, nếu gặp lỗi với chứng từ/hồ sơ thì cần ghi rõ mã hồ sơ/số chứng từ trên DVC để đội hỗ trợ có căn cứ kiểm tra;<br/> 
  (3) Số điện thoại liên hệ; <br/>
  (4) Hình ảnh lỗi.<br/>
</div>
</section>

{{ define "community-links-list" }}
<ul>
 {{ range . }}
 <li title="{{ .name }}">
   <a target="_blank" href="{{ .url }}"><i class="{{ .icon }}"></i> {{ .name }}:</a> {{ .desc }}
 </li>
  {{ end }}
</ul>
{{ end }}
