<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}">
    <script>

      let __protocol = document.location.protocol;
      let __baseUrl = __protocol + '//livechat.fpt.ai/v35/src';

      let prefixNameLiveChat = 'Hỗ trợ dịch vụ công KBNN Đắk Lắk';
      let objPreDefineLiveChat = {
              appCode: '3194fcfe65385d2b94d9c8735c362620',
              themes: '',
              appName: prefixNameLiveChat ? prefixNameLiveChat : 'Live support',
              thumb: '',
              icon_bot: ''
          },
          appCodeHash = window.location.hash.substr(1);
      if (appCodeHash.length == 32) {
          objPreDefineLiveChat.appCode = appCodeHash;
      }

      let fpt_ai_livechat_script = document.createElement('script');
      fpt_ai_livechat_script.id = 'fpt_ai_livechat_script';
      fpt_ai_livechat_script.src = __baseUrl + '/static/fptai-livechat.js';
      document.body.appendChild(fpt_ai_livechat_script);

      let fpt_ai_livechat_stylesheet = document.createElement('link');
      fpt_ai_livechat_stylesheet.id = 'fpt_ai_livechat_script';
      fpt_ai_livechat_stylesheet.rel = 'stylesheet';
      fpt_ai_livechat_stylesheet.href = __baseUrl + '/static/fptai-livechat.css';
      document.body.appendChild(fpt_ai_livechat_stylesheet);

      fpt_ai_livechat_script.onload = function () {
          fpt_ai_render_chatbox(objPreDefineLiveChat, __baseUrl, 'livechat.fpt.ai:443').catch(e => {
            console.log(e);
          });
      }
    </script>
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-default td-outer">
      <main role="main" class="td-main">
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partialCached "scripts.html" . }}
    
  </body>
</html>